<h2><%= @train.name() %></h2>

<% @train.cities.each do |city| %>
  <ul>
    <li>
      <% eta = Time.new() %>
      <% Stop.all.each do |stop| %>
        <% if stop.city == city
          eta = stop.eta
        end %>
      <% end %>
    <%= city.name %>, <%= eta.strftime("%I:%M %p") %>
    </li>
  </ul>
<% end %>

<form action="/stops/<%= @stop.id() %>" method="post">
  <button type="submit" class="btn btn-success">Purchase</button>
  <br><br>
  <% if !@message.empty?() %>
    <div class="alert alert-success">
      <%= @message %>
    </div>
  <% end %>

</form>

<br><br>
<p><a href="/" class="btn btn-primary">Home</a></p>
